* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font: "Segoe UI", Tahoma, Geneva;
}
.aside {
  background-color: MistyRose;
  min-width: 400px;
  padding: 5px 5px;
  border: 1px gray solid;
  flex: 0;
}
.aside__search {
  font-size: 18px;
  width: 300px;
  height: 40px;
  border-radius: 9rem;
  padding: 5px 2px 5px 25px;
  border: 1px gray solid;
  background: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s25/search.png")
    no-repeat scroll 0 50%;
  background-color: Ivory;
}
.aside__search:focus {
  outline-color: aqua;
}
.dialog {
  min-width: 500px;
  border: 1px gray solid;
  flex: 2 2 500px;
}
.profile {
  /* display: none; */
  min-width: 300px;
  border: 1px gray solid;
  flex: 0 5 400px;
  background-color: Ivory;
}
.header {
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  padding: 5px 5px;
}
.material-icons.icons{
  font-size: 35px;
  color:dimgray;
}
.icons:hover{
  cursor: pointer;
}
.dialog-header {
  display: flex;
  height: 50px;
  border: 1px gray solid;
  padding: 5px 5px;
  background-color: MistyRose;
  cursor: pointer;
}

.icons-more-vert {
  margin-left: auto;
}
.circle {
  border-radius: 50%;
}
.chatlist {
  display: none;
  /* display: flex; */
  flex-direction: column;
  height: calc(100vh - 50px);
  overflow-y: auto;
  scroll-snap-type: y;
}
.profile__card{
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
  margin-bottom: 10px;
  background-color: Ivory;
  cursor: pointer;
}
.card {
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
  border-radius: 10px;

  border: 1px gray solid;
  margin-bottom: 10px;
  background-color: Ivory;
  cursor: pointer;
}
.card:hover{
  cursor: pointer;
  background-color: LightGrey;
}
.card__info {
  display: flex;
  width: 350px;
  flex-direction: column;
  margin-left: 5px;
}
.card__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.card__subtitle {
  display: flex;
  justify-content: space-between;
}
.card__subtitle-link {
}
.card__name {
  font-size: 16px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.name {
  font-size: 16px;
  color: black;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.card__message {
  font-size: 14px;
  color: dimgray;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.card__sender {
  font-size: 14px;
  color: dimgray;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.card__data {
  font-size: 14px;
  color: dimgray;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.card__count-msg {
  font-size: 12px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  padding: 9px;
  border: 1px gray solid;
}
.card__icons-play {
  font-size: 40px !important;
}
.dialog-header__time {
  font-size: 14px;
}
.tabs {
  display: flex;
  /* display: none; */
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}
.tab {
  font-size: 18px;
  font-weight: bold;
  color: dimgray;
}
.tab:hover {
  background-color: Ivory;
  cursor: pointer;
}
.select-chats {
  display: none;
  /* display: flex; */
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}
.chat-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.select-voice {
  display: none;
}
.select-files {
  display: none;
}
.select-media {
  display: none;
}
.photo-files:hover{
  cursor: pointer;
}
.select-links {
  /* display: none; */
}
.media-month {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.month {
  list-style: none;
}
.tab-view {
  /* display: none; */
  display: flex;
  height: calc(100vh - 70px);
  flex-direction: column;
  overflow-y: auto;
  background-color: MistyRose;
  padding-top: 5px;
}
.dialog-box {
  display: flex;
  height: calc(100vh - 50px);
  flex-direction: column;
  align-items: center;
  background-color: Ivory;
}
.messages {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  width: 80%;
  min-width: 40%;
  flex: 2 2 470px;

}
.my-message{
align-self: flex-end;
}
.other-message{
  align-self: flex-start;
}
.sending-panel {
  display: flex;
  width: 80%;
  min-width: 40%;
  min-height: 50px;
  flex: 0;
  background-color: Ivory;
  margin-bottom: 10px;
  align-items: center;
}
.new-message {
  display: flex;
  border: 2px gray solid;
  border-radius: 10px;
  background-color: Ivory;
  width: 630px;
  padding: 5px 5px;
  align-items: center;
  margin-right: 5px;
}
.send-message {
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  flex: 1;
  border: none;
  background-color:Ivory ;
}
.send-message:focus{
  outline: none;
}
.icons-tag-faces {
  font-size: 24px !important;
}
.icons-attach-file {
  font-size: 24px !important;
}
.icons-send {
  font-size: 40px !important;
}
.profile__header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  background-color: MistyRose;
}
.message{
  display: flex;
  padding: 5px 5px;
  border-radius: 10px;
  border: 1px gray solid;
  margin-bottom: 10px;
  background-color: MistyRose;
  align-content:stretch;
  flex-direction: column;
}
.message__title{
  font-size: 14px;
  color: dimgray;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
}
.message__subtitle{
  font-size: 14px;
  color: black;
  font-weight:normal;
  font-family: Arial, Helvetica, sans-serif;
}
.message__time{
  font-size: 12px;
  color: dimgray;
  font-weight:normal;
  font-family: Arial, Helvetica, sans-serif;
  
}
.material-icons.icons-check{
  font-size: 12px;
  color: dimgray;
}
.message__info{
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.material-icons.icons-sending-panel{
  font-size: 30px;
  color: dimgray;
  cursor: pointer;
}
.material-icons.icons-send{
  font-size: 30px;
  color: dimgray;
cursor: pointer;
}